

    <div class="col-md-10 col-md-offset-1 col-xs-12">

    <%=	link_to(new_user_registration_path) do   %>
        <button class="row ingresaya">

          <h3>Te invitamos a que te registres GRATIS para que puedas reservar en todos los lugares y puedas  eventos.</h3>


          <hr>
         <h1>	LIMBO </h1>

        </button>
    <%	 end %>


    <hr style="margin-left: -200px; margin-right: -200px;">
    </div>
