<% if signed_in?	  %>
    <div class="container">


    </div>

<%	 else %>





    <div id="bg" style="margin-top: -100px;  ">
      <%= image_tag ""%>
    </div>


    <div class="container " style="z-index: -1" >

      <div class="col-md-12" style="margin-top: 15%; text-align: center; " >
           <div>    <h1>YoLoPredije</h1></div>
        <br/>
        <br/>

        <div  style="text-align: center; color: #ffffff  ">

          <div class="col-md-10 col-md-offset-1" style="background-color:rgba(73, 73, 73, 0.80); padding-top: 15px; padding-bottom: 15px; padding-left: 5px; margin-bottom: 50px; border-radius: 10px; ">
            <h4> ¡Ingresa, adivina y gana DINERO! </h4>
              <br/>
            <h4>   ¡y otros premios!</h4>
          </div>

          <i class="icon-facebook-sign" ></i>  <%= link_to "Ingresa con Facebook", user_omniauth_authorize_path(:facebook), class: " btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>


<%	 end %>