




<div  class="footer col-md-12" style="background-color: #333138; opacity: .8; position: fixed; bottom: 0; height: 30px; ">
  <div class="container">


    <div class="col-md-4" >
      <h5 > <a style="color: #ffffff !important;" href="http://quickplace.com/">QuickPlace.com v.1</a> </h5>
    </div>
    <div class="col-md-8" style="margin-top: 5px">
      <nav >
        <ul class="list-inline pull-right" >
          <li ><%= link_to "About us", root_path, style: "color: white"   %></li>
          <li ><%= link_to "Contact us", root_path, style: "color: white"   %></li>
          <li ><%= link_to "Terms & Conditions", root_path, style: "color: white"   %></li>
        </ul>
      </nav>
    </div>

  </div>
</div>
